User-Defined Functions

In [1]:
#Definig and calling function
def greet():
  print("Hello World!!")

In [2]:
greet()

Hello World!!

Function with Parameters/Arguments

In [3]:
def greet_user(name):
  print(f"Hello, {name}")

In [4]:
greet_user("Lalin")

Hello, Lalin

In [16]:
def isPalindrome(word):
  return word == word[::-1]

word = input("Enter your word here: ")

if isPalindrome(word):
  print("Yes, It's Palindrome.")
else:
  print("No, It's not palindrome.")

Enter your word here: wow
Yes, It's Palindrome.

Function within a Function / Nested Function

In [19]:
def outer_function():
  print("This is outer function.")
  def inner_function():
    print("This is inner function.")
  inner_function()

outer_function()

This is outer function.
This is inner function.

Iteration: for and while loops

In [22]:
#For loop
fruits = ["apple","banana","orange"]
for f in fruits:
  print(f)

apple
banana
orange

In [23]:
#While loop
count = 0
while count < 3:
  print("Count:", count)
  count += 1

Count: 0
Count: 1
Count: 2

Iterating Over Dictionaries

In [31]:
person = {"name" : "lalin",
          "age" : 24,
          "is_student" : True}

#Iterate over keys and values
for key, value in person.items():
  print("keys:", key)
  print("values:", value)

keys: name
values: lalin
keys: age
values: 24
keys: is_student
values: True

List comprehensive: A conise way to create lists.
Useful for data processing and transformation.

In [34]:
num = [1,2,3,4,5]
squares = [x ** 2 for x in num]
print(squares)

#Filter even number
even = [n for n in num if n % 2 == 0]
print(even)

[1, 4, 9, 16, 25]
[2, 4]

Error Handling (try, except)

In [36]:
try:
  num = int(input("Enter a number: "))
  print("You entered:", num)
except ValueError:
  print("Invalid ipupt! Please enter a valid number.")

Enter a number: 5
You entered: 5

Lambda Functions

In [41]:
#Double a number

double = lambda x: x * 2
print("Doubled of 5 is:", double(5))

#Use with map() to apply a functin to a list
num = [1,2,3,4,5]
doubled_num = list(map(lambda x: x * 2, num))
print("Doubled numbers:", doubled_num)

Doubled of 5 is: 10
Doubled numbers: [2, 4, 6, 8, 10]

Matrix Operation

In [42]:
#Nested Lists (2D)
matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
print("Element at row 2, column 3:", matrix[1][2])

Element at row 2, column 3: 6